body {
	background-image: url("../images/hero.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-color: #ededed;
	color: #371000;
	margin-bottom: 25%;
	font-size: 16px;
}
nav a {
	display: block;
	text-decoration: none;
	width: 	20%;
	float: left;
	text-align: center;
	margin: 2% auto;
	color: #371000;
}

#logo {
	display: block;
	margin: 0 auto;
	width: 60%;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'EB Garamond', serif;
    line-height: 1.5em;
}

article p {
	margin: .5%;
}

#intro, #aboutus	 {
	text-align: center;
	border: solid 1px;
	border-radius: 25px;
	padding: 2em;
	width: 90%;
	margin: 1em auto;
}

#wrapper {
	width: 95%;
	margin: 0 auto;
}

article {
	text-align: center;
	border: solid 1px;
	border-radius: 25px;
	padding: 2em;
	margin-bottom: 1em;
}

#floatleft {
	width: 49%;
	float: left;
}
#floatright {
	width: 49%;
	float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;	
}

footer {
	text-align: center;
	margin: 1em;
}

