body {
	text-align: center;
	background-image: url("../images/hero2.png");
	background-size: cover;
	font-family: "Helvetica";
	color: #371000;
}
h1	{
	font-style: italic;
}
p {
	font-size: 25px;
}
#para2 {
	color: #fff
}
}
ul {
    font-size: 20px;
    color: #fff;
     text-align: center;
    list-style-type: none;
    /*border-style: double;
    border-width: 5px;
    width: 0px;*/
}
hr {
	width: 150px;
	border-color: #000;
}
footer {
	font-size: 15px;
	color: #fff;
}

